/* button {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(10, 58, 42);
  color: white;
  font-size:medium;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 100px;
}

button:hover {
  background-color: rgb(8, 41, 30);
  scale: 1.1;
} */
